.App {
  position:absolute;
  width: 100%;
  margin: 0;
  border: 0px;
  top: 0px;
  left: 0px;
  height: 100%;
}

#pageHeader {
  position: absolute;
  background-color: rgb(118, 119, 119);
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;

}

#wrapperMain>ul {
  list-style-type: none;
  display: grid;
  grid-column: 2fr;
  gap:10px;
  width: 100px;
  grid-auto-columns: 100px;
  grid-template-areas: "a a a a a";
  align-items: center;
  justify-items: center;
  height: 50px;
  top:0;
  position:absolute;
  padding: 0px;
  margin: 0px;
}

#wrapperMain>ul li {
  border-style: solid;
  border-radius: 10px;
  border-color: rgb(255, 255, 255);
  padding: 3px 10px;
  border-width: 1px;
}

#wrapperRight>ul {
  list-style-type: none;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 100px 100px;
  gap:10px;
  align-items: center;
  justify-items: center;
  height: 50px;
  top:0;
  padding: 0px;
  margin: 0px;
}

#wrapperRight>ul li {
  border-style: solid;
  border-radius: 10px;
  border-color: rgb(255, 255, 255);
  padding: 3px 10px;
  border-width: 1px;
}

.content {
  position: absolute;
  top: 75px;
  padding: 0% 5%;
  overflow: hidden;
  width:90%
}
