#gridparent {
    display:grid;
    grid-auto-columns:50%;
    grid-template-areas: "a a";
    padding-top: 20px;
}

.canvas {
    margin-left: 50%;
    transform: translate(-50%, 0%);
}

.innerCanvas {
    margin-left: 50%;
    transform: translate(-50%, 0%);
}

#pubkey {
    margin-left:50%;
    transform: translate(-50%, 0%);
    text-align: center;
    margin-top: -40px;
}