.gridwrapper{
    display:grid;
    grid-auto-columns:50%;
    grid-template-areas: "a a";
    padding-top: 20px;
}

.destinationInfo{
    display:grid;
    grid-column:1fr 2fr;
    grid-template-areas: "a a";
    overflow: hidden;
}

.destinationList{
    list-style-type: none;
    word-wrap: break-word;
    overflow: hidden;
    margin-left: 20px;
    margin-right: 10px;

    margin-top: 20px;
    padding: 10px 20px;
    width: 90%;
}

.destinationList>li {
    margin-left: 20px;
    width: 90%;
    padding-top: 5px;
}

.message>div{
    width: 70%;
    text-align: center;
    align-items: center;
    margin-left: 120px;
    margin-top: -15px;
}

.image{
    width: 220px;
    padding-top: 17px;
    margin-left: 50%;
    transform: translate(-50%, 0%);
}

.form {
    padding: 5% 30%;

}

.acceptedList {
    list-style-type: none;
    word-wrap: break-word;
    overflow: hidden;
    margin-left: 20px;
    margin-right: 10px;

    margin-top: 20px;
    padding: 10px 20px;
    width: 90%;
}

.acceptedList>li {
    width: 90%;

    margin-top: 20px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(19, 18, 18);
    padding: 10px 20px;
    border-width: 1px;
    width: 90%;
}

#placeholder {
    margin-left: 50%;
    transform: translate(-80%, 0%);
    margin-top: 50px;
}

#insertCommand {
    padding-top: 10px;
    margin-left: 50%;
    transform: translate(-65%, 0%);
    text-align: center;
}