.grid_wrapper {
    display:grid;
    grid-auto-columns: 33%;
    grid-template-areas: "a a a";
}

.listAccountInfo>ul {
    list-style-type: none;
    word-wrap: break-word;
    margin-left: 10px;
    margin-top: 20px;

    border-style: solid;
    border-radius: 10px;
    border-color: rgb(19, 18, 18);
    padding: 3px 10px;
    border-width: 1px;
    width: 90%;
}

.accountImage{
    padding-top: 50px;
    margin-left: 50%;
    transform: translate(-50%, 0%);
    padding-bottom: 50px;
    width: 200px;
}

.gridTokenInfo {
    display: grid;
    grid-auto-columns: 50%;
    grid-template-areas: "a a";
    margin-top: 20px;
    row-gap: 30px;
    height: 60px;
}

.gridTokenInfo>div {
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(19, 18, 18);
    padding: 3px 10px;
    border-width: 1px;
    width: 80%;
    margin-left: 10px;
}

.listTransactions>ul {
    list-style-type: none;
    margin-left: 10px;
    margin-top: 20px;
    
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(19, 18, 18);
    padding: 3px 10px;
    border-width: 1px;
    width: 80%;
}

.tx {
    margin: 10px 0px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(19, 18, 18);
    padding: 10px 10px;
    border-width: 1px;
    width: 95%;
    margin-left: 50%;
    transform: translate(-50%, 0%);
}
